<a href="https://colab.research.google.com/github/bhavitha-muppavarapu/Addition/blob/master/Binning_and_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg .xlsx')
df.head()
df.drop(['origin'], axis = 1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,plymouth valiant,HUYT76

In [26]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    2
model year      2
origin          0
car name        0
CAR Number      7
dtype: int64

In [27]:
avg_acc = df['acceleration'].mean()
print(avg_acc)

14.046875

In [30]:
df['acceleration'].replace( np.nan, avg_acc , inplace = True)

<ipython-input-30-87bef3fd69a8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['acceleration'].replace( np.nan, avg_acc , inplace = True)

In [33]:
print(df[df['model year'].isnull()])

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
45   18          6         258.0         110    2962          13.5
56   26          4          91.0          70    1955          20.5

    model year  origin                    car name CAR Number
45         NaN       1  amc hornet sportabout (sw)     GTHY79
56         NaN       1            plymouth cricket     TY6764

In [38]:
df.dtypes

mpg               int64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
model year      float64
origin            int64
car name         object
CAR Number       object
dtype: object

In [39]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      2
origin          0
car name        0
CAR Number      1
dtype: int64

In [45]:
model_year_mc=df['model year'].value_counts().idxmax()

In [46]:
df['model year'].replace( np.nan, model_year_mc , inplace = True)

<ipython-input-46-faf837d53277>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['model year'].replace( np.nan, model_year_mc , inplace = True)

In [47]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
CAR Number      1
dtype: int64

In [34]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,96.000000,98.000000
mean,18.397959,6.316327,254.423469,131.020408,3342.22449,14.046875,71.260417,1.367347
std,5.872775,1.869985,124.791731,47.787109,973.39107,2.991464,1.038671,0.679414
min,9.000000,3.000000,70.000000,46.000000,1613.00000,8.000000,70.000000,1.000000
25%,14.000000,4.000000,120.000000,90.000000,2372.75000,12.000000,70.000000,1.000000
50%,17.000000,8.000000,302.000000,133.500000,3437.50000,14.000000,71.000000,1.000000
75%,23.000000,8.000000,350.750000,165.000000,4230.00000,15.500000,72.000000,1.750000
max,35.000000,8.000000,455.000000,225.000000,5140.00000,23.500000,73.000000,3.000000

In [48]:
df.dropna(subset=['CAR Number'], axis =0, inplace = True)

In [49]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
CAR Number      0
dtype: int64

In [72]:
len(df)

98

In [73]:
unique_df = df.drop_duplicates(subset=['CAR Number'])
print(unique_df)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18          8         307.0         130    3504          12.0
1    15          8         350.0         165    3693          11.5
2    18          8         318.0         150    3436          11.0
3    16          8         304.0         150    3433          12.0
4    17          8         302.0         140    3449          10.5
..  ...        ...           ...         ...     ...           ...
93   14          8         318.0         150    4237          14.5
94   13          8         440.0         215    4735          11.0
95   12          8         455.0         225    4951          11.0
96   13          8         360.0         175    3821          11.0
97   18          6         225.0         105    3121          16.5

    model year  origin                      car name CAR Number
0         70.0       1     chevrolet chevelle malibu    L6V 043
1         70.0       1             buick skylark 320     RTY079
2         70.0       1            plymouth satellite     MTP600
3         70.0       1                 amc rebel sst     MNJ000
4         70.0       1                   ford torino   JEETMEET
..         ...     ...                           ...        ...
93        73.0       1      plymouth fury gran sedan     FGTEE4
94        73.0       1  chrysler new yorker brougham     GTTYR6
95        73.0       1      buick electra 225 custom    TTGGT53
96        73.0       1       amc ambassador brougham    TGTYY67
97        73.0       1              plymouth valiant     HUYT76

[90 rows x 10 columns]

In [74]:
unique_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,1,ford torino,JEETMEET

In [75]:
unique_df.tail(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
93,14,8,318.0,150,4237,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,1,plymouth valiant,HUYT76

In [76]:
print(unique_df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name', 'CAR Number'],
      dtype='object')

In [77]:
unique_df.describe(include= "all")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
count,90.000000,90.000000,90.000000,90.000000,90.000000,88.000000,88.000000,90.000000,90,89
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80,89
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevrolet impala,L6V 043
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1
mean,18.133333,6.366667,259.516667,132.466667,3380.088889,13.954545,71.295455,1.344444,NaN,NaN
std,5.502196,1.863005,124.299937,47.763274,961.671714,3.046230,1.063059,0.656191,NaN,NaN
min,9.000000,3.000000,70.000000,46.000000,1773.000000,8.000000,70.000000,1.000000,NaN,NaN
25%,14.000000,4.000000,121.000000,90.000000,2398.250000,12.000000,70.000000,1.000000,NaN,NaN
50%,17.000000,8.000000,303.000000,140.000000,3442.500000,13.500000,71.000000,1.000000,NaN,NaN
75%,22.750000,8.000000,351.000000,165.000000,4264.750000,15.500000,72.000000,1.000000,NaN,NaN
max,31.000000,8.000000,455.000000,225.000000,5140.000000,23.500000,73.000000,3.000000,NaN,NaN